RajniiRobot/config.py
RajniiRobot/*.session
RajniiRobot/*.session-journal
RajniiRobot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
RajniiRobot/modules/helper_funcs/temp.txt
RajniiRobot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
saitama.session-journal
updates.txt
*.exe